*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    scroll-behavior: smooth;
    cursor: pointer;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1.1rem;
}
h5,h6{
    font-size: .9rem;
}
 header .header{
    /* background-color: rgba(119, 136, 153, 0.863); */
    background-color: rgba(0, 0, 0, 0.863);
    padding: 1.5rem;
}
.header {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.icon{
   color: orangered;
    margin-left: .5rem;
}
.title {
    margin-top: -.4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #ebe1e1;
    line-height: 1.3rem;
}
.title span{
    font-size: 1.7rem;
    font-family: forte;
    text-transform: capitalize;
    font-style: italic;
    letter-spacing: .4rem;
}
.icn-header{
    visibility: hidden;
}
 .navBtn{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 2%;
    margin: 1rem;
    cursor: pointer;
}
.navBtn button{
   cursor: pointer;
   width: 24px;
   height: 2px;
}
.navButton1{
    margin-bottom: .4rem;
}
.btn1{
    transform: rotate(-45deg);
    transition: .3s ease-in-out;
    position: absolute;
    margin:0;
}
 .btn2{
    transform: rotate(45deg);
    transition: .3s ease-in-out;
    position: absolute;
}
.navbar{
    background-color: white;
    flex-direction: column;
    height: 0vh;
    overflow-y: hidden; 
    transition: all 2s ease-in-out;
}
.active{
   height: 68vh;
}
.menu{
    visibility: hidden;
}
.navbar .abt li{
    margin: 1rem auto 0.2rem auto;
    padding: 1.2rem;
    border-bottom: .05rem solid black;
}
.navbar .abt a{
   color: black;
}
.navbar .about{
    letter-spacing: .3rem;
    line-height: 1rem;
}
.navbar .about:hover{
    color: orangered;
    transition: color .3s ease-in;
}
.navbar .about span{
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-family: monotype corsiva;
    text-transform: capitalize;
}
.navbar .place{
    margin-top: .6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-transform: uppercase;
     font-size: 1.2rem;
}
.navbar .navlinks{
    background-color: rgba(0, 0, 0, 0.863);
    margin-bottom: .2rem;
}
.navlinks ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navlinks ul li{
    margin: .5rem 1rem;
    padding: .2rem;
}
.navlinks ul li a{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    letter-spacing: .1rem;
    border-bottom: .05rem solid white;
}
.icon-nav{
    visibility: hidden;
}
.navlinks a:hover{
      color: orangered;
    border-bottom: .05rem solid orangered;
    transition: all .3s ease-in;
}
.navlinks .copy{
    margin: 0.5rem auto 0.2rem auto;
    padding-bottom: .5rem;
    color: orangered;
}
.section0{
    padding: 2rem;
    border-top: .1rem solid white;
    border-bottom:.1rem solid white ;
    background-color: transparent;
    letter-spacing: .2rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: .6rem;
    text-transform: uppercase;
    color: rgb(245, 72, 9);
}
div a{
  text-decoration: none;    
  transition: color 0.3s ease-in-out;
}
div a:hover{
    color: orangered;
  transition: color .3s ease-in-out;

}
.section1, .section2, .section3{
    padding: 6rem;
    border-bottom: 0.1rem solid white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section1:hover, .section2:hover, .section3:hover{
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.section1:hover a, .section2:hover a, .section3:hover a{
    color: orangered;
}
.section1{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/coffeshop.jpg);
    
}
.section1:hover{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(images/coffeshop.jpg);
}
.section2{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/bakery.jpg);
}
.section2:hover{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(images/bakery.jpg);
}
.section3{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/restaurant.jpg);
}
.section3:hover{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(images/restaurant.jpg);
}
.about{
    color: white;
    letter-spacing: .3rem;
    line-height: 1.3rem;
}
.about span{
    font-size: 1.3rem;
    letter-spacing: .2rem;
    font-family: monotype corsiva;
    text-transform: capitalize;
}
.place{
    margin-top: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-transform: uppercase;
     font-size: 1.6rem;
}
.footer{
    padding-bottom:2.5rem;
background-color: rgba(176, 196, 222, 0.514);
}
.links li{
    margin: 0 2rem;
    padding: 1rem 1rem;
    border-bottom: .05rem solid rgba(119, 136, 153, 0.671);

}
.links a{
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-decoration: none;
     letter-spacing: .21rem;
     text-transform: uppercase;
     color: black;
}
.links a:hover{
    background-color: rgba(0, 0, 0, 0.055) ;
    color: orangered;
    transition: all .2s ease-out;
}
.icone{
    color: transparent;
}
.media{
    margin-top: 2rem;
    letter-spacing: .1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.media ul{
  margin-bottom: 1rem;
    
}
.media a{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .2rem;
  margin-left: 1rem;
}
.media a span{
   font-size: .7rem;
   color: black;
}
.media a:hover{
    color: black;
}
.media h4{
    margin-top: .5rem;
    text-transform: uppercase;
    font-weight: 550;
    font-size: .8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.copy{
    margin: 2rem 0rem .6rem 0rem;
    font-family: monotype corsiva;
    text-transform: capitalize;
    letter-spacing: .2rem;
}
.media h5{
    text-transform: uppercase;
    font-size: .6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .2rem;
    font-weight: bolder;
}



@media (min-width:768px){
    
    .header{
        position: fixed;
        height: 100vh;
        width: 30vw;
        padding: 0;
        margin: 0;
        display: flex;
    }
    .navBtn{
        position: relative;
    }
   .menu{
       position: absolute;
        visibility: visible;
        margin-top: 1.5rem;
        margin-left: -1rem;
        color: white;
        font-size: 1rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: .1rem;
      }
       .navbar{
           display: block;
           position: absolute;
           margin-left: 30vw;
           width: 0vw;
           height: 100vh;
          background-color: black;
          opacity: .85;
          overflow-x: hidden;
          transition: all .1s ease-in;
       }
       .active{
           width: 30vw;
       }
       .navbar ul{
           margin-top: 2rem;
       }
    .about p , .place {
          color: white;
       }
    .about:hover p, .about:hover .place{
        color: orangered;
        font-weight: bolder;
        transition: all .3s ease-in-out;
    }
    .navlinks ul{
        position: absolute;
        bottom: 10%;
        left: 5.5%;
    }
    .navlinks ul li{
        display: flex;
        flex-direction: column;
    }
    .icon-nav{
        visibility: visible;
         margin-bottom: 2rem;
         color: orangered;
         font-size: 1rem;
    }
     .navlinks li:hover .icon-nav{
       color: white;
       transition: all .3s ease-in-out;
     }
       article{
           min-height: 100vh;
           width: 68.3vw;
           margin-left: 30vw;
       }
       .navBtn{
           position: absolute;
           top: 5%;
           left: 40%;
       }
       .ttl{
      position: absolute;
       left: 3%;
          margin: 25rem auto 0rem auto;
       }
       .icn-header{
        padding: .1rem 2rem;
       margin: 13rem auto 0rem auto;
       visibility: visible;

    }
    .icon-header{
        color: transparent;
        padding: .2rem 5rem;
        margin-top: .3rem;
        font-size: 1rem;
        border-bottom: .05rem solid transparent;
    }
    .header:hover .icon-header{
        color: white;
        border-bottom: .05rem solid white;
        transition: all 1.5s ease-in;
    }
    .header:hover .icon-header:nth-child(2){
        transition: all 2.5s ease-in;
    }
    .header:hover .icon-header:nth-child(3){
        transition: all 3.5s ease-in;
    }
      header div{
       height: 100vh;
       display: flex;
      flex-direction: column;
       text-align: center;
       }
       footer{
        border: .05rem solid rgba(119, 136, 153, 0.671);
        text-align: center;
       }
       .section0{
           border-bottom: .4rem solid black;
       }
       .section0 h5{
        font-size: 1.15rem;
        letter-spacing: .3rem;
       }
       .section1{
           border-top: .1rem solid white;
       }
       .section1, .section2, .section3{
           transition: all 2s ease-in-out;
       }
       .abt span{
           font-size: 1.5rem;
       }
       .place{
           margin-top: 1rem;
           font-size: 2rem;
       }
       
      #info{
          font-size: 1.05rem;
          visibility: hidden;
      }
      .sectionAbout:hover #info{
          visibility: visible;
      }
       .links ul{
          display: flex;
          flex-direction: row;
          justify-content: center;
           border-bottom: .05rem solid rgba(119, 136, 153, 0.671);
       }
       .links li{
           margin: 1rem auto;
           display: grid;
           grid-template-rows: 1;
           border: none;
           padding: 2rem;
           border-right: .05rem solid rgba(119, 136, 153, 0.349);
       }
       .links li:nth-child(3){
           border-right: none;
           padding-right: .5rem;
       }
       .link a{
           text-align: center;
       }
       .links a:hover{
              background-color: transparent;
              color: black;
           font-size: 1.08rem;
       }
       .link li:hover .icone{
        color: orangered;
        margin-top: .2rem;
        transition: all .4s ease-in;
        visibility: visible;
       }
    
       .media{
            margin: 1.2rem .5rem .1rem .5rem;
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           flex-wrap: wrap;
           font-size: 1rem;
       }
       .copy,.media h5{
           margin: 1rem .5rem .2rem .5rem;
       }
     
}
@media(min-width:950px){
    .ttl{
        position: absolute;
        left: 10%;
               margin: 25rem auto 0rem auto;
            }
}